---
import '@/styles/global.css';
import Navbar from '@/components/Navbar.astro';
import type { ImageMetadata } from 'astro';
import { Image } from 'astro:assets';
import { ClientRouter, fade } from 'astro:transitions';

interface Props {
  title?: string;
  backgroundMobile?: ImageMetadata;
  backgroundTablet?: ImageMetadata;
  backgroundDesktop: ImageMetadata;
}

const base = import.meta.env.BASE_URL;
const baseWithSlash = base.endsWith('/') ? base : `${base}/`;
const favicon = `${baseWithSlash}favicon.png`;

const {
  title = 'Frontend Mentor | Space Tourism',
  backgroundMobile,
  backgroundTablet,
  backgroundDesktop
} = Astro.props;

const customFade = fade({ duration: 500 });
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href={favicon} />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bellefair&family=Barlow+Condensed:wght@400&family=Barlow:wght@400&display=swap" rel="stylesheet">
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ClientRouter />
  </head>
  <body>
    <Navbar />
    <main class="relative w-screen min-h-screen">
      <div 
        class="background-container absolute left-0 top-0 -z-10 w-full h-full bg-black"
        transition:name="background"
        transition:animate={customFade}
      >
        {backgroundMobile && (
          <Image 
            src={backgroundMobile} 
            class="block md:hidden w-full h-full object-cover" 
            alt="background-image" 
            format='webp'
            transition:name="background-mobile"
            transition:animate={customFade}
          />
        )}
        {backgroundTablet && (
          <Image 
            src={backgroundTablet} 
            class="hidden md:block lg:hidden w-full h-full object-cover" 
            alt="background-image" 
            format='webp'
            transition:name="background-tablet"
            transition:animate={customFade}
          />
        )}
        <Image 
          src={backgroundDesktop} 
          class="hidden lg:block w-full h-full object-cover" 
          alt="background-image" 
          format='webp'
          transition:name="background-desktop"
          transition:animate={customFade}
        />
      </div>
      <div id="main" class="relative z-0 pt-40 md:pt-40">
        <slot />
      </div>
    </main>
  </body>
</html>

<style is:global>
  html, body {
    margin: 0;
    width: 100%;
    height: 100%;
  }

  .background-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

</style>